<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%c] [Thread : %t] [Method:%M] %L : %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender  name="NEWROLLINGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="File" value="${catalina.home}/../logs/workflow.log"/>
		<param name="Encoding" value="UTF-8"/>
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%c] [%t Thread] %L : %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	

	<logger name="org.springframework" additivity="true">
		<level value="error" />
	</logger>

	<logger name="org" additivity="true">
		<level value="error" />
	</logger>

	<logger name="com" additivity="true">
		<level value="error" />
	</logger>
	<logger name="com.wafersystems" additivity="true">
		<level value="debug" />
	</logger>
	<logger name="com.landray.ssoclient" additivity="true">
		<level value="debug" />
	</logger>
	<logger name="httpclient.wire" additivity="true">
		<level value="info" />
	</logger>
	<logger name="net.rubyeye.xmemcached" additivity="true">
		<level value="info" />
	</logger>

	<root>
		<level value="debug" />
		<!-- 以下STDOUT控制台日志部分，本机开发时可放开，测试及生产环境不予输出 -->
		 <appender-ref ref="STDOUT" />
		<appender-ref ref="NEWROLLINGFILE" />
	</root>

</log4j:configuration>